/* главный заголовок */
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/1500фотик.jpg);

  background-color: var(--background-footer);

  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  color: var(--complementary-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 696px;
}
/* кнопка */

.hero__button {
  color: var(--complementary-color);
  background-color: var(--color-accent);
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: "Roboto", "Raleway", sans-serif;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}
