/*  логотип */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.footer__logo {
  color: var(--complementary-color);
  display: block;
  margin-bottom: 20px;
}

.logo__acсent {
  color: var(--color-accent);
}
