:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --contact-color: rgba(255, 255, 255, 0.6);
  --color-accent: #2196f3;
  --background-body: #e5e5e5;

  --background-team: #f5f4fa;
  --background-footer: #2f303a;
  --complementary-color: #ffffff;
}
